<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Spring Boot WebSocket</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div class="container">
  <div class="py-5 text-center">
    <a href="/"><h2>WebSocket</h2></a>
    <p class="lead">WebSocket Chat - with STOMP & SockJS.</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <div class="input-group">
          <input type="text" id="from" class="form-control" placeholder="Choose a nickname" [(ngModel)]="userName"/>
          <div class="btn-group">
            <button type="button" id="connect" class="btn btn-sm btn-outline-secondary" (click)="connect()">Connect
            </button>
            <button type="button" id="disconnect" class="btn btn-sm btn-outline-secondary" (click)="disconnect()"
            >Disconnect
            </button>
          </div>
        </div>
        <div *ngIf="message1">{{message1}}</div>
        <div *ngIf="message2">{{message2}}</div>

        <div *ngIf="connected">
          <div *ngFor="let user of usersList">
            <li class="list-group-item">
              <a class="active-user" (click)="setSelectedUser(user)">{{user}}</a>
            </li>
          </div>
        </div>
      </div>
      <div class="mb-3" id="users" style="display: none;">
        <span id="active-users-span"></span>
        <ul id="active-users" class="list-group list-group-horizontal-sm"></ul>
      </div>
      <div id="divSelectedUser" class="mb-3" style="display: none;">
        <span id="selectedUser" class="badge badge-secondary"></span> Selected
      </div>
      <div class="mb-3">
        <div class="input-group" id="sendmessage" *ngIf="connected">
          <input type="text" id="message" class="form-control" placeholder="Message" [(ngModel)]="textMessage">
          <div class="input-group-append">
            <button id="send" class="btn btn-primary" (click)="send()">Send</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div id="content"></div>
      <div>
                        <span class="float-right">
                            <button id="clear" class="btn btn-primary" onclick="clearMessages()" style="display: none;">Clear</button>
                        </span>
      </div>
      <div id="response"></div>
    </div>
  </div>

  <div *ngFor="let message of messages">
    <div *ngIf="userName == message.from; else userResponse">
      <p style="color: #1787ff">{{message.from}}: {{message.text}}, {{message.time}}</p>
    </div>
    <ng-template #userResponse>
      <p style="color: green">{{message.from}}: {{message.text}}, {{message.time}}</p>
    </ng-template>
  </div>
</div>
</body>

</html>
